


.font_3 wixui-rich-text__text {
    font-size: 64px;
    line-height: 0.9em;
}
body {
  margin: 0;  
  background:#2f0327;
  text-align: center;
  font-family: sans-serif;
  color: #fefefe;
}

.container {
  position: relative;
  width: 380px;
  margin: 3px auto 0 auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 32s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 230px;
  height: 149px;/*65.2*/
  top: 20px;
  left: 0px;
  right: 0px;
  background-size: contain;
  box-shadow:inset 0 0 0 0px rgba(0,0,0,0.5);/*Opacidad*/
  display: flex;
}

span {
  margin: 20%;
  font-size: 2rem;
}


.carousel__face:nth-child(1) {
  background-image: url("../images/E commerce para vender Eton.jpg");
  transform: rotateY(0deg) translateZ(380px); }/*320 es distancia entre caras*/
.carousel__face:nth-child(2) { 
  background-image: url("../images/E-commerce-para-vender-Chango- 2.jpg");
    transform: rotateY( 40deg) translateZ(380px); }
.carousel__face:nth-child(3) {
  background-image: url("../images/E commerce para vender Tattoo 2.jpg");
  transform: rotateY( 80deg) translateZ(380px); }
.carousel__face:nth-child(4) {
  background-image: url("../images/E commerce para vender Lang MIX.jpg");
  transform: rotateY(120deg) translateZ(380px); }
.carousel__face:nth-child(5) { 
  background-image: url("../images/E commerce para vender Eton.jpg");
 transform: rotateY(160deg) translateZ(380px); }
.carousel__face:nth-child(6) { 
  background-image: url("../images/E-commerce-para-vender-Chango- 2.jpg");
 transform: rotateY(200deg) translateZ(380px); }
.carousel__face:nth-child(7) { 
  background-image: url("../images/E commerce para vender Tattoo 2.jpg");
 transform: rotateY(240deg) translateZ(380px); }
.carousel__face:nth-child(8) {
  background-image: url("../images/E commerce para vender Lang MIX.jpg");
  transform: rotateY(280deg) translateZ(380px); }
.carousel__face:nth-child(9) {
  background-image: url("../images/E-commerce-para-vender-Chango- 2.jpg");
  transform: rotateY(320deg) translateZ(380px); }

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-240deg);
  }
}



@font-face {
  font-family: 'BellarinaRimo';
  src: url('../fonts/BellarinaRimo.woff') format('woff2'),
       url('../fonts/BellarinaRimo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.sqs-slide-wrapper[data-slide-type="cover-page"] .button-style-outline [data-slice-type="buttons"] a, .sqs-slide-wrapper[data-slide-type="cover-page"] .button-style-outline .sqs-slice-custom-form a, .sqs-slide-wrapper[data-slide-type="cover-page"] .button-style-outline~.sqs-modal-lightbox .form-wrapper input[type=submit], .sqs-slide-wrapper[data-slide-type="cover-page"] .button-style-outline [data-compound-type="popup-overlay-action"] button[type=submit]
{
    color: #ffffff;
    border: 2px solid #ffffff;
}