body {
  margin: 0;
  background: rgb(0, 0, 0);
  text-align: center;
  font-family: sans-serif;
  color: #fefefe;
}

.container {
  position: relative;
  width: 320px;
  margin: 3px auto 0 auto;
  perspective: 1000px;
}

.carousel {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; 
  animation: rotate360 32s infinite forwards linear;
}
.carousel__face { 
  position: absolute;
  width: 250px;
  height: 163px;
  top: 20px;
  left: 0px;
  right: 0px;
  background-size: contain;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
  display: flex;
}

span {
  margin: auto;
  font-size: 2rem;
}


.carousel__face:nth-child(1) {
  background-image: url("/images/vista Plataformas TRANSPARENTE.jpg");
  transform: rotateY(  0deg) translateZ(430px); }
.carousel__face:nth-child(2) { 
  background-image: url("/images/estudiojuridico.jpg");
    transform: rotateY( 40deg) translateZ(430px); }
.carousel__face:nth-child(3) {
  background-image: url("/images/Tatuaje.jpg");
  transform: rotateY( 80deg) translateZ(430px); }
.carousel__face:nth-child(4) {
  background-image: url("/images/vista Plataformas TRANSPARENTE.png");
  transform: rotateY(120deg) translateZ(430px); }
.carousel__face:nth-child(5) { 
  background-image: url("/images/estudiojuridico.png");
 transform: rotateY(160deg) translateZ(430px); }
.carousel__face:nth-child(6) { 
  background-image: url("/images/Tatuaje.png");
 transform: rotateY(200deg) translateZ(430px); }
.carousel__face:nth-child(7) { 
  background-image: url("/images/vista Plataformas TRANSPARENTE.png");
 transform: rotateY(240deg) translateZ(430px); }
.carousel__face:nth-child(8) {
  background-image: url("/images/estudiojuridico.png");
  transform: rotateY(280deg) translateZ(430px); }
.carousel__face:nth-child(9) {
  background-image: url("/images/Tatuaje.png");
  transform: rotateY(320deg) translateZ(430px); }



@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}



@font-face {
  font-family: 'BellarinaRimo';
  src: url('/fonts/BellarinaRimo.woff') format('woff2'),
       url('/fonts/BellarinaRimo.woff') format('woff'),
	   url('/RimosSoluciones/fonts/BellarinaRimo.woff') format('woff'),
	   url('/RimosSoluciones/fonts/BellarinaRimo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
