<!DOCTYPE html>


<!-- col-final mono texto y contenedor de tarjetas -->
<section id="quienes-somos" class="section-card" style="background-color:#82441e !important";>
<div class="section-card-title-info" style="background-color:white !important;border-radius: 8px;">
	<h2 style="color:#82441e !important";>QUIENES SOMOS</h2>
</div>
	<p id="contenidoQuienesSomos"></p>
</section>

<section id="informacion-envios" class="section-card" style="background-color:#82441e !important";>
<div class="section-card-title-info" style="background-color:white !important;border-radius: 8px;">
	<h2 style="color:#82441e !important";>COMO COMPRAR/ENTREGA</h2>
</div>
	<p id="contenidoEnvios"></p>
</section>

<section id="formas-pago" class="section-card" style="background-color:#82441e !important";>
<div class="section-card-title-info" style="background-color:white !important;border-radius: 8px;">
	<h2 style="color:#82441e !important";>FORMAS DE PAGO</h2>
</div>
	<p id="contenidoFormasPago"></p>
</section>

<section id="Contacto" class="section-card" style="background-color:#82441e !important";>
<div class="section-card-title-info" style="background-color:white !important;border-radius: 8px;">
	<h2 style="color:#82441e !important";>CONTACTO</h2>
</div>
	<p id="contenidoContacto"></p>
</section>


<!-- Footer redes -->
<section class="elementor-section elementor-inner-section elementor-element elementor-element-28601e16 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="28601e16" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
	<div class="elementor-container elementor-column-gap-default">
		<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-22c345d0" data-id="22c345d0" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated" style="text-align:center !important";>
				<div class="elementor-element elementor-element-15ce413 elementor-shape-circle e-grid-align-mobile-center elementor-grid-0 e-grid-align-center elementor-widget elementor-widget-social-icons" data-id="15ce413" data-element_type="widget" data-widget_type="social-icons.default">
					<div class="elementor-widget-container">
						<div class="elementor-social-icons-wrapper elementor-grid">
							
							
							<span class="elementor-grid-item">
								<a class="elementor-icon elementor-social-icon footer elementor-social-icon-instagram elementor-repeater-item-c6b2e1d" href="https://www.instagram.com/elchangodeale/" target="_blank">
									<img alt="" id="imgPrincipal"
											src="/images/Insta Icon.png"
											onerror="this.onerror=null; this.src='../../images/Insta Icon.png';"/>
								</a>
							</span>
							
							
							<span class="elementor-grid-item">
								<a class="elementor-icon elementor-social-icon footer elementor-social-icon-instagram elementor-repeater-item-c6b2e1d" 
								   href="https://mail.google.com/mail/?view=cm&fs=1&to=elchangodeale@gmail.com&su=Consulta%20desde%20la%20web&body=Hola%20Ale%2C%20quiero%20preguntarte%20por%20m%C3%A1s%20productos.%20%0APodr%C3%ADas%20responderme%20cuando%20puedas%3F" target="_blank" rel="noopener noreferrer">
									<img alt="" id="imgPrincipal" src="/images/gmail_logo.png" 
									onerror="this.onerror=null; this.src='./images/gmail_logo.png';"/>				
								</a>
							</span>

						
						
						</div>	
					</div>
					
				</div>
				
				
				<div class="elementor-element elementor-element-38381ef elementor-widget elementor-widget-text-editor" data-id="38381ef" data-element_type="widget" data-widget_type="text-editor.default">
					<div class="elementor-widget-container">
						<p class="copyright" style="font-family:Times New Roman !important;">Copyright 2025 © El Chango de Ale</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> 
<!-- Footer redes -->



<!-- Botón flotante de WhatsApp -->
<div class="whatsapp-container">
	<div class="whatsapp-label">Háblame!</div>
<a href="Intermediate-Web-Wa Chango Ale.html"
   class="whatsapp-float" target="_blank" title="Contactanos por WhatsApp">
  <img id="img-wa" src="images/Whatsapp-logo-icon.png" alt="WhatsApp" style="width:60px;height:60px;" rel="noopener noreferrer">
</a>
</div>


