<!-- barra superior -->
<ul id="main-nav-items" class="d-none d-md-flex">

  <li id="InfoQuienesSomos-Barra" class="css-1dswftd" data-bs-toggle="tooltip" data-bs-placement="bottom">
    <a class="cds-119 cds-113 cds-115 css-1l9x38r cds-142" href="#quienes-somos">
      <span class="forStyle css-1rkctw9">Quienes Somos</span>
    </a>
  </li>

  <li id="InfoEnvios-Barra" class="css-1dswftd" data-bs-toggle="tooltip" data-bs-placement="bottom">
    <a class="cds-119 cds-113 cds-115 css-1l9x38r cds-142" href="#informacion-envios">
      <span class="forStyle css-1rkctw9">Como Comprar/Entrega</span>
    </a>
  </li>

  <li id="InfoFormasPago-Barra" class="css-1dswftd" data-bs-toggle="tooltip" data-bs-placement="bottom">
    <a class="cds-119 cds-113 cds-115 css-1l9x38r cds-142" href="#formas-pago">
      <span class="forStyle css-1rkctw9">Formas de Pago</span>
    </a>
  </li>

  <li id="InfoContacto-Barra" class="css-1dswftd" data-bs-toggle="tooltip" data-bs-placement="bottom">
    <a class="cds-119 cds-113 cds-115 css-1l9x38r cds-142" href="#Contacto">
      <span class="forStyle css-1rkctw9">Contacto</span>
    </a>
  </li>

  <li id="SubirInicio" class="css-1dswftd force-visible" data-bs-toggle="tooltip" data-bs-placement="bottom">
    <a class="cds-119 cds-113 cds-115 css-1l9x38r cds-142" href="#inicio">
      <span class="forStyle css-1rkctw9">Subir al Inicio</span>
    </a>
  </li>

  <li id="MenuPrincipal" class="css-1dswftd" data-bs-toggle="tooltip" data-bs-placement="bottom">
    <a class="cds-119 cds-113 cds-115 css-1l9x38r cds-142" href="../../index.html">
      <span class="forStyle css-1rkctw9">Ir a Menú Principal</span>
    </a>
  </li>

</ul>
<!-- barra superior -->
